@keyframes expand-drop-down {
    from {
        max-height: 0vh;
    }
    to {
        max-height: 100vh; /* approximate max height */
    }
}

@keyframes close-drop-down {
    from {
        max-height: 100vh;
    }
    to {
        max-height: 0vh;
    }
}

@keyframes expand-details {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes open-rotate-image {
    from{
        transform-origin: center;
        transform: rotate(-90deg);
    }
    to {
        transform-origin: center;
        transform: rotate(0deg);
    }
}

@keyframes close-rotate-image {
    from{
        transform-origin: center;
        transform: rotate(0deg);
    }
    to {
        transform-origin: center;
        transform: rotate(-90deg);
    }
}

.expandDropdown {
    animation-name: expand-drop-down;
    animation-duration: 7000ms;
    animation-timing-function: cubic-bezier(0.25, 0.3, 0.15, 1.0);;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

.closeDropdown {
    animation-name: close-drop-down;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.25, 0.3, 0.15, 1.0);;
    animation-delay: 0ms;
    animation-fill-mode: both;
}

.showDetails {
    animation-name: expand-details;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.25, 0.3, 0.15, 1.0);
    animation-delay: 0ms;
    animation-fill-mode: both;
}

.rotateOpen {
    animation-name: open-rotate-image;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.25, 0.3, 0.15, 1.0);
    animation-delay: 0ms;
    animation-fill-mode: both;
}

.rotateClose {
    animation-name: close-rotate-image;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.25, 0.3, 0.15, 1.0);
    animation-delay: 0ms;
    animation-fill-mode: both;
}